body {
    padding-top: 5rem;
}

img
{
    width: 200px;
}

.profile-header
{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.more-profile-info
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 2em 0;
}

.more-profile-info p
{
    text-align: center;
}

.more-profile-info button
{
    background-color: #555;
    color: white;
    border: 0px;
    width: 200px;
    margin: auto;
    margin-top: 2em;
    padding: 6px 0;
}

.stats
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.stats div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats div span:first-child
{
    font-weight: bold;
}